@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex; */
  /* min-height: 100vh; */
  /* flex-direction: column; */
  margin: 0px;
  text-align: center;
  border: 1px;
  /* background-color: rgb(115, 116, 107); */
  background-image: url(https://img.freepik.com/free-vector/wave-textures-white-background-vector_53876-60286.jpg?w=2000&t=st=1675136399~exp=1675136999~hmac=ac9c0a89d31dd74bc96e1d135ab8c27edf60915a417a9517e8f91bd090dfb952);
  background-size: 100%;
  background-repeat: no-repeat;
  /* align-content: center; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headerText {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 50px;
  padding-bottom: 20px;
  font-stretch:
    expanded;
  font-size: 45px;

  text-shadow: rgb(247, 252, 226) 2px 5px 15px;
  color: rgb(74, 63, 80);
}

/* .headerImg:hover {
  color: aqua;
  text-decoration: none;
  font-weight: none;
} */

/* .headerImg {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  width: 200px;
  height: 100px;
} */

.navbar {
  display: flex;
  flex-direction: row;
  margin-left: 700px;
  /* margin-right: 400px; */
  padding: 1.5rem 1rem;
  /* left: 40px; */
  top: -10px;
  color: rgb(253, 151, 255);
  border-radius: 2px;
  font-family: 'Courier New', Courier, monospace;
  justify-content: left;
  padding-bottom: 15px;
}

.homeContainer {
  background-color: #678487;
  background-size: inherit;
}

.landingContainer {
  background-color: rgb(229, 225, 225);
}


.introImage {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-top: -370px;
  padding: 1.5rem 1rem;

  justify-content: left;
  padding-bottom: 15px;
  width: 650px;
  filter: drop-shadow(20px 20px 10px rgb(38, 46, 38));

}

.introText {
  font-size: 20px;
  color: rgb(101, 95, 95);
  flex-direction: column;
  margin-left: 820px;
  padding: 1.5rem 1rem;
  justify-content: left;
  padding-bottom: 15px;
}



.aboutContainer {
  /* background-size: contain; */
  /* display: flex; */
  background-color: rgb(229, 225, 225);
}

.meImage {
  position: relative;
  align-content: left;
  /* flex-direction: column; */
  margin-right: 950px;
  padding: 40px 3px 3px 3px;
  order: 1;
  filter: drop-shadow(20px 20px 10px rgb(38, 46, 38));
}



.aboutTextBox {
  position: relative;
  text-align: center;
  top: -600px;
  right: -250px;
  color: rgb(18, 16, 16);
  text-shadow: rgb(245, 239, 239) 1px 2px 1px;

}

.search {
  width: 100%;
  position: flex;
  flex-direction: row;
  /* align-content: left; */
  display: flex;
  /* flex-direction: row; */
  margin-left: 480px;
  margin-right: 800px;
  padding: 1.5rem 1rem;
  /* left: 40px; */
  top: -10px;
  color: rgb(253, 151, 255);
  border-radius: 2px;
  font-family: 'Courier New', Courier, monospace;

  justify-content: left;
  padding-bottom: 15px;
}

.searchTerm {
  width: 50%;
  border: 3px solid #000000;
  font-size: medium;
  padding: 5px;
  height: 40px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #9DBFAF;
  filter: drop-shadow(10px 10px 10px rgb(63, 59, 59));

}

.searchTerm :focus {
  color: #191b1b;
}

.newArtForm {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  padding: 1.5rem 1rem;
  top: -10px;
  color: rgb(253, 151, 255);
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;

  justify-content: left;
  padding-bottom: 0px;

}

.h2Wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  padding-right: 20px;
  border-radius: 15px;
  border: 5px black;

}

.newArtFormH2 {
  display: flex;
  padding: 3px;
  justify-content: center;
  font-size: 24px;
  background-color: rgb(84, 175, 145);
  width: 300px;
  color: rgb(253, 248, 248);
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgb(63, 59, 59);

}

.formTitle {
  padding: 10px;
  font-size: 15px;
}

.formYear {
  padding: 10px;
  font-size: 15px;
}

.formPrice {
  padding: 10px;
  font-size: 15px;

}

.formImage {
  padding: 10px;
  font-size: 15px;
}

.formButton {
  padding: 10px;
  font-size: 15px;
}




.cards {
  display: flexbox;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  text-align: right;
  list-style: none;
  background-color: rgb(229, 225, 225);

}

.card {
  margin: 3rem;
}

.card img {
  width: 120%;
  padding-bottom: 1em;
  filter: drop-shadow(20px 20px 10px rgb(38, 46, 38));


}

.card h1 {
  width: 100%;
  position: block;
  align-items: left;
  text-shadow: rgb(209, 209, 206) 1px 2px 5px;

}

.card h2 {
  width: 100%;
  position: block;
  align-items: left;
  /* text-shadow: rgb(74, 63, 80)1px 2px 1px; */
  color: rgb(15, 15, 14);
}



@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

/* .imageList {
  max-width: 10%;
  max-height: 10%;

} */